Anaconda*
main.py 
results/*/*/*/*/*.png
results/*/*/*/*.png
__pycache__
experiments.md
code_excerpts
_experiments.py
.gitignore
_generate_video.py
images_list.txt
.vscode/settings.json
_approximations.py
results/natural_images/image_0/just_testing/execution_log.csv
_generate_graphs.py
_generate_data.py
results/natural_images/image_11/denoising_long*
results/natural_images/image_11/patch*/std_0.05
full_log
_experiments2.py
.gitignore
_image_tools.py
.gitignore
_generate_values.py
synthetic_images_results_summary.csv
natural_images_results_summary.csv
_cli_experiments_generator.py
.gitignore
